.material-button {
    display: inline-block;
    vertical-align: middle;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 500;
    padding: 0em 1em;
    line-height: 2.42em;
    margin: 2px;
    /*min-width: 64px;*/
    border: 0;
    outline: 0;
    color: #000000de;
    white-space: nowrap;
    text-decoration: none;
    text-align: center;
    background-color: transparent;

    border-radius: 0.28em;
    /*box-shadow: 0 0 8px rgba(0, 0, 0, 0.3 );*/
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.material-button.raised {
    box-shadow: 0 3px 1px -2px #0003,0 2px 2px #00000024,0 1px 5px #0000001f;
}
.material-button.flat {
    background-color: #fff;
    color: #000000de;
}

.material-button.stroked {
    border: solid 1px #0000001f;
}
.material-button.basic.primary,
.material-button.stroked.primary {
    color: #2196f3;
}
.material-button.basic.confirm,
.material-button.stroked.confirm {
    color: #4CAF50;
}
.material-button.basic.warn,
.material-button.stroked.warn {
    color: #f44336;
}
.material-button.basic.accent,
.material-button.stroked.accent {
    color: #ff4081;
}

.material-button.flat.primary {
    color: #fff;
    background-color: #2196f3;
}
.material-button.flat.confirm {
    color: #fff;
    background-color: #4CAF50;
}
.material-button.flat.warn {
    color: #fff;
    background-color: #f44336;
}
.material-button.flat.accent {
    color: #fff;
    background-color: #ff4081;
}

.material-button.basic,
.material-button.stroked {
    border: none;
    background-color: transparent;
    color: inherit;
    /*box-shadow: none;*/
}

@media (hover: hover) {
    .material-button.basic:hover,
    .material-button.stroked:hover {
        background-color: #00000013;
    }
    .material-button.basic.primary:hover,
    .material-button.stroked.primary:hover {
        background-color: #2195f313;
    }
    .material-button.basic.confirm:hover,
    .material-button.stroked.confirm:hover {
        background-color: #4CAF5013;
    }
    .material-button.basic.warn:hover,
    .material-button.stroked.warn:hover {
        background-color: #f4433613;
    }
    .material-button.basic.accent:hover,
    .material-button.stroked.accent:hover {
        background-color: #ff408113;
    }
}

.material-button:disabled {
    color: #00000042;
    cursor: initial;
    box-shadow: none;
}
.material-button:disabled {
    background-color: #0000001f !important;
}
.material-button.basic:disabled,
.material-button.stroked:disabled {  
    background-color: transparent !important;
}
.material-button:disabled {
    color: #0000001f !important;
}


.ripple {
    vertical-align: inherit;
    z-index: 0;
    border-radius: 50%;
    background-color: currentColor; /*rgba(255, 255, 255, 0.2);*/
    opacity: 0.23;
    position: absolute;
    transform: scale(2.5);
    transition: opacity 0.3s linear;
    animation: ripple 0.2s cubic-bezier(0.23, 0.07, 0.85, 0.47);
    pointer-events: none;
}
.ripple-leave {
    opacity: 0;
}
@keyframes ripple{
    from {
        transform: scale(0);
    }
    to{
        transform: scale(2.5);
    }
}

@media (hover: hover) {
    .mat-hover:before {
        content: '';
        pointer-events: none;
        position: absolute;
        display: inline-block;
        background-color: currentColor;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: opacity .3s ease;
    }
    .mat-hover:hover:before {
        opacity: 0.15;
    }
}



.material-popup {
    font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    box-shadow: 0 3px 5px -1px #0003,0 6px 10px #00000024,0 1px 18px #0000001f;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 24px;
    max-width: 430px;
    z-index: 1001;
    padding: 16px 16px 8px;
    border-radius: 4px;

    color: #000000de;
    background: #fafafa;
}






.infinite-loading-wrapper {
    width: 100%;
    height: 5px;
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0;
}
.infinite-loading {
    position: absolute;
    /*top: 90%;*/
    left: -100%;
    width: 100%;
    height: 100%;
    color: white;
    background: linear-gradient(270deg, #2196f3 0%, #65cca9 50%, #26b082 100%);
    transform-origin: left;
    animation: load-right 2s 1s cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
    animation-iteration-count: infinite;
    animation-delay: -0.07s;
}
  
@keyframes load-right {
    0% {
        left: -100%;
    }
    50% {
        left: 0;
    }
    100% {
        left: 100%;
    }
}