.camping-window {
    display: flex;
    height: 100%;
    width: 100%;
}
.camping-window.horizontal-layout {
    flex-direction: column-reverse;
}
.camping-window * {
    /*Firefox scrollbar*/
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.camping-window *::-webkit-scrollbar {
    /*Chrome scrollbar*/
    display: none;
}
.camping-window > .main {
    overflow: auto;
    height: 100%;
    flex: 1 1 0%;
}
 div.toolbar {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    border: 3px solid #73AD21;
}
.icon-bar {
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: #555;
    z-index: 10;
}
  
.icon-bar span {
    float: left;
    width: 20%;
    text-align: center;
    padding: 12px 0;
    transition: background-color 0.3s ease;
    color: white;
    font-size: 36px;
}
icon-bar span img {
    position: relative;
    top: -5px;
    margin-bottom: -10px;
    height: 40px;
}
  
.icon-bar span:hover:not(.active-icon-bar) {
    background-color: #000;
}
  
.vertical-icon-bar {
    z-index: 10;
    top: 0;
    left: 0;
    height: 100vh;
    width: 90px;
    background-color: var(--icon-bar);
    overflow: scroll;
    overscroll-behavior: contain;
    scrollbar-width: none; /* FireFox */
    -ms-overflow-style: none;
}
  
.vertical-icon-bar span {
    cursor: pointer;
    display: block;
    text-align: center;
    transition: background-color 0.3s ease;
    color: var(--icon-bar-font-color);
    font-size: 36px;
    width: 75px;
    height: 75px;
    background-color: var(--icon-bar-alt);
    margin-left: 8px;
    margin-top: 10px;
    border-radius: 28px;
}
  
.vertical-icon-bar span:hover:not(.active-icon-bar) {
    background-color: #000;
}
[data-theme="light"] .vertical-icon-bar span:hover:not(.active-icon-bar) {
    background-color: rgb(151, 151, 151);
}

.vertical-icon-bar span i,
.vertical-icon-bar span img {
    transform: translate(0, -52%);
    margin-top: 50%;
    pointer-events: none;
    /*line-height: 75px;*/
}
  
[data-theme="light"] .vertical-icon-bar img {
    filter: invert(1);
}

.active-icon-bar {
    background-color: var(--icon-bar-active) !important;
}

.hero-list-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.loading-camping-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000a;
    z-index: 50;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.loading-camping-content {
    height: 200px;
    width: 200px;
    position: relative;
    background-color: var(--background-color-tertiary);
    border-radius: 10px;
    text-align: center;
    /* margin: auto; */
    overflow: hidden;
}
  
  
.hero-count-box {
    display: inline-block;
    margin: 5px;
    background-color: #ff0a4a;
    color: white;
    border-radius: 3px;
    height: 40px;
    min-width: 50px;
    text-align: center;
}
.filter-block {
    font-size: 20px;
}
.filter-group {
    display: inline-block;
    text-align: center;
    margin: 10px;
    overflow: hidden;
    border-radius: 10px;
}
.filter-group > span {
    min-width: 50px;
    padding: 10px 10px;
    background-color: var(--background-color-tertiary);
    display: inline-block;
    cursor: pointer;
}
.filter-group > span.active {
    color: white;
    background-color: var(--decoration-color-secondary);
}
.filter-group img {
    height: 1em;
    vertical-align: text-top;
}